<div class="body_container  mt-0 d-flex">
    <div class="main_home_content nice_nical_benito h-100">
        <div class="text_header_container">
            <h2 class="text_header">
                Tableau de bord Xaragn
            </h2>
            
        </div>
        <div class="colored_resume_xaliss nice_nical_benito">

        </div>
        <h2 class="text_header mt-4">
            Access Rapide
        </h2>
        <div class="quick_access w-100 d-flex">
            <div class="ajouts">
                <div class="ajout_categorie nice_nical_benito horizontal_card"></div>
                <div class="ajout_produit nice_nical_benito horizontal_card mt-4"></div>
            </div>
            <div class="listes d-flex">
                <div class="liste_categorie nice_nical_benito vertical_card"></div>
                <div class="liste_produit nice_nical_benito vertical_card   "></div>
            </div>
        </div>
    </div>
    <div class="right_home_content h-100">

    </div>
</div>