<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom du client</th>
                    <th scope="col">Produits</th>
                    <th scope="col">Montant Total</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <th scope="row">
                            
                        </th>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a href="/updatingProduct/">
                                    <button type="button" class="btn btn-warning">Details</button></a>
                                <a href="/deleteProduct/">
                                    <button type="button" class="btn btn-danger">Terminer</button>
                                </a>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>