<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Tableau de bord</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' type="text/css" rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">Xaragn Shop</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/adminHome">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Tableau de bord</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Tableau de bord</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/allCategory">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Categories</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/allCategory">Categories</a></li>
                    <li><a href="/allCategory">Tous les Categories</a></li>
                    <li><a href="/addingCategory">Ajouter Categories</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/allProducts">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Produits</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/allProducts">Prodruits</a></li>
                    <li><a href="/allProducts">Tous les Produits</a></li>
                    <li><a href="/addProduct">Ajouter Produits</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/allAdmin">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Administration</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/allAdmin">Administration</a></li>
                    <li><a href="/allAdmin">Tous les Admin</a></li>
                    <li><a href="/addingAdmin">Ajouter Admin</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/allOrders">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Commandes</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/allOrders">Commandes</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="/image/profile.jpg" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Mame Mar</div>
                        <div class="job">Administrateur</div>
                    </div>
                    <a href="/logout"><i class='bx bx-log-out'></i></a>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
        </div>
            <%- body %>
    </section>

    <script src="/script.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</body>

</html>