<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Admin Home</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' type="text/css" rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">Xaragn Tech</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/adminHome">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Dashboard</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/allCategory">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Category</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Category</a></li>
                    <li><a href="/allCategory">All Category</a></li>
                    <li><a href="/addingCategory">Add Category</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/allProducts">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Products</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Products</a></li>
                    <li><a href="/allProducts">All products</a></li>
                    <li><a href="/addProduct">Add product</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/allAdmin">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Administration</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Administration</a></li>
                    <li><a href="/allAdmin">All Admin</a></li>
                    <li><a href="/addingAdmin">Add Admin</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/allOrders">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Orders</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Orders</a></li>
                    <li><a href="/allOrders">All orders</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-history'></i>
                    <span class="link_name">History</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">History</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Setting</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Setting</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="/image/profile.jpg" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Mame Mar</div>
                        <div class="job">Administrator</div>
                    </div>
                    <a href="/logout"><i class='bx bx-log-out'></i></a>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
        </div>
        <div class="home-content">
            <%- body %>
        </div>
    </section>

    <script src="/script.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</body>

</html>