<div class="container container_liste nice_nical_benito">
    <div class="header_liste d-flex">
        <div class="d-flex">
            <i class="bx bx-add-to-queue"></i>
            <h3 class="text_header  ">
                Modification de categorie
            </h3>
        </div>
    </div>
    <div class="row">
        <form action="/category/<%= cat._id%>" enctype="multipart/form-data" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Nom de categorie</label>
                <input type="text" value="<%= cat._Name%>" class="form-control" name="name" id="name" placeholder="Sandales">
            </div>
            <div class="mb-3">
                <label for="frame" class="form-label">Image de categorie</label>
                <input type="hidden" name="framebis" value="<%= cat._Image%>" class="form-control" id="frame">
                <input type="file" name="frame" class="form-control" id="frame">
            </div>
            <button type="submit" class="btn update_btn">Enregister</button>
        </form>
    </div>
</div>