<div class="container">
    <div class="row">
        <form action="/category" enctype="multipart/form-data" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Category Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Sandales">
            </div>
            <div class="mb-3">
                <label for="frame" class="form-label">Category Frame</label>
                <input type="file" name="frame" class="form-control" id="frame">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>